.form-component {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .form-component h2 {
    color: #06005c;
    letter-spacing: 4px;
    margin-bottom: 30px;
  }
  .form-component h4 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 20px;
  }
  .form-component p {
    max-width: 750px;
    color: white;
    margin-bottom: 20px;
  }
  .form-component form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .form-component form div {
    display: flex;
    gap: 30px;
  }
  .form-component form input,
  .form-component form select,
  .form-component form textarea {
    flex: 1;
    font-size: 24px;
    padding: 10px 10px 10px 40px;
    border-radius: 7px;
    border: 1px solid gray;
  }
  .form-component button {
    padding: 10px 35px;
    color: #fff;
    font-weight: 700;
    width: fit-content;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    margin-bottom: 30px;
    background: linear-gradient(140deg, #0085f3, #271776ca);
  }
  .form-component .wrapper {
    display: flex;
    gap: 50px;
  }
  .form-component .wrapper .banner {
    flex: 1;
  }
  .form-component .wrapper .banner:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-component .wrapper .banner:last-child img {
    max-width: 450px;
  }
  .login-form {
    margin: 100px auto 20px auto;
    max-width: 800px;
    text-align: center;
  }
  .register-form {
    max-width: 1200px;
    margin: 100px auto 20px auto;
  }
  .login-form h2 {
    color: #000;
  }
  .register-form h2 {
    color: #000;
  }
